<h2><%= @post.title %></h2>
<!-- Add a posted at timestamp -->
<p><%= @post.description %></p>


<h4>Reply to post:</h4>
<%= render 'comments/form' %>

<h4>Comments:</h4>
<%= render @post.comments %>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Do you want to delete this content?"} %>